@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter";
}

a {
	text-decoration: none;
}

.card-container > a {
	display: contents;
}